## Automate with Python

## Convert txt files to Dataframes

### Import Libraries

In [1]:
import pandas as pd
import os
from collections import defaultdict as dd

In [2]:
path= "C:/Users/user/Desktop/txt files"
txt_files= [file for file in os.listdir(path)]
                                        
def nested_remove(L, x):
    if x in L:
        L.remove(x)
    else:
        for element in L:
            if type(element) is list:
                 nested_remove(element, x)                                        
                                        
df= pd.DataFrame()

for file in txt_files:
    with open(path + '/' + file, 'r') as f:
        text_list = [r.strip() for r in f.readlines() if r.strip()]
    
        text_list = [x.split(': ') for x in text_list]
        
        
    
        nested_remove(text_list, '----------NEW TRANSACTON-----------')
        text_list= [x for x in text_list if x != []]
        
        #print(text_list)
    
        data = dd(list)
        for text in text_list:
            data[text[0]].append(text[1])

# load data into a dataframe
        df1 = pd.DataFrame(data)
        df=pd.concat([df,df1], ignore_index=True)

All we have to do is put the txt files in the file directory stored in 'txt_files' variable as seen above and run this script and all files will be formatted and converted to a Dateframe as seen below

In [3]:
df

,TRANSACTION DATE,CLIENT ID,CLIENT NAME,AMOUNT,TRANSACTION REF.
0,"08:42 AM, 30 Nov 2021",C00001,SALISU BISI,"16,450.00",00001
1,"08:46 AM, 30 Nov 2021",C00002,SULE YAYA,"80,940.00",00002
2,"08:51 AM, 30 Nov 2021",C00001,SALISU BISI,"44,900.00",00003
3,"08:58 AM, 30 Nov 2021",C00003,ADEGOKE BAYO,"60,000.00",00004
4,"09:12 AM, 30 Nov 2021",C00004,COKER PRIYE,"80,200.00",00005
5,"09:42 AM, 04 Dec 2021",C00011,SAINT OBI,"100,450.00",00101
6,"09:54 AM, 04 Dec 2021",C00112,DESIREE MONICA,"180,940.00",00102
7,"09:58 AM, 04 Dec 2021",C00211,ALIU MUSA,"544,000.00",00103
8,"10:40 AM, 04 Dec 2021",C00112,DESIREE MONICA,"860,000.00",00104
9,"09:42 AM, 05 Dec 2021",C05011,SAINT JOE PATRICK,"700,550.00",02101
10,"10:02 AM, 05 Dec 2021",C40112,ABU SALE,"180,650.00",02102

### Convert to Excel file

In [4]:
df.to_excel('Customer_details.xlsx', index=False)

We run this script above to convert the tabular data into an Excel file or if you want to convert to csv files, you run the script below

In [5]:
df.to_csv('Customer_details.csv', index=False)