## Web Scraping with BeautifulSoup

In [94]:
#importing our libraries
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [95]:
url = 'https://www.imdb.com/chart/toptv?sort=rk,asc&mode=simple&page=1'

In [96]:
movie_data= requests.get(url)

In [97]:
soup= BeautifulSoup(movie_data.text, 'html.parser')

In [98]:
#print(soup.prettify())

In [99]:
data= soup.find('table', class_= 'chart full-width').find('tbody', class_= 'lister-list')

In [101]:
movies = data.find_all('tr')

In [102]:
Ranking= []
Moviename=[]
Year= []
Ratings=[]
for movie in movies:
    Ranking.append(movie.find('td', class_= 'titleColumn').get_text(strip=True).split('.')[0])
    Moviename.append(movie.find('td', class_= 'titleColumn').a.text)
    Year.append(movie.find('td', class_= 'titleColumn').span.text.strip('()'))
    Ratings.append(movie.find('td', class_= 'ratingColumn imdbRating').text.strip('\n'))

In [103]:
top_250_movies_df= pd.DataFrame({'rank': Ranking, 'movie_ name': Moviename, 
                                 'year_of_release': Year, 'ratings': Ratings})
top_250_movies_df.to_excel('IMDb_top_250_movies.xlsx')

In [104]:
top_250_movies_df

    rank           movie_ name year_of_release ratings
0      1       Planet Earth II            2016     9.4
1      2          Breaking Bad            2008     9.4
2      3          Planet Earth            2006     9.4
3      4      Band of Brothers            2001     9.4
4      5             Chernobyl            2019     9.3
..   ...                   ...             ...     ...
245  246  Love, Death & Robots            2019     8.4
246  247           Foyle's War            2002     8.4
247  248     Jesus of Nazareth            1977     8.4
248  249  Clannad: After Story            2008     8.4
249  250                Luther            2010     8.4

[250 rows x 4 columns]